.section5 {
  background: $White;
  color: $Black;
  padding: 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;

  h1 {
    margin-bottom: 16vh;
  }
  .logosContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;

    img {
      width: 100%;
    }
  }
}
