$White: #efefef;
$RealWhite: #ffffff;
$WhiteOpct: #efefef84;
$Black: #0f0f0f;
$BlackOpct: #00000073;
$BlackFilter: #00000066;
$RealBlack: #000000;
$Grey: #e8e8e8;
$LinearDarkBlue: #11235a;
$LinearDarkBlueOpct: #9bb0c180;
$DarkBlue: #0e2244;
$LinearLightBlue: #9bb0c1;
$LinearLightBlueOpct: #11235a80;
$NavBackground: #efefef1a;
$CardBackground: #f0f0f04d;
$DotActive: #0f0f0fcc;
$DotInactive: #f0f0f081;
