$White: #efefef;
$WhiteOpct: #efefef84;
$Black: #0f0f0f;
$BlackOpct: #00000073;
$LinearDarkBlue: #11235a;
$LinearDarkBlueOpct: #9bb0c180;
$DarkBlue: #0e2244;
$LinearLightBlue: #9bb0c1;
$LinearLightBlueOpct: #11235a80;
$NavBackground: #efefef1a;
$CardBackground: #f0f0f04d;
