.OPSection2 {
  position: relative;
  background: $White;
  z-index: 1;

  h1 {
    padding: 20vh 0;
    text-align: center;
  }

  &,
  a {
    color: $Black;
  }

  //   CARROUSEL
  .CarrouselContainer {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100vw;
    overflow: hidden;

    .filter {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        0deg,
        rgb(0 0 0 / 67%) 10%,
        rgb(252 70 107 / 0%) 50%
      );
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100vw;
      height: 70vh;
      transition: 0.5s;
    }

    // DOT
    .dotContainer {
      position: absolute;
      z-index: 2;
      bottom: 5vh;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 6vw;

      .dot {
        width: 15px;
        height: 15px;
        background: $DotInactive;
        border-radius: 50%;
        cursor: pointer;
      }

      .border {
        pointer-events: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid $DotInactive;
        width: calc(15px + 8px);
        height: calc(15px + 8px);
        transition: 0.5s;
      }
    }
  }

  //   CATEGORIES SECTION
  .categoriesSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    .categoriesContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 20px;
      text-align: center;
      z-index: 2;

      .categorie {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 240px;
        color: white;
        background-color: $Black;
        margin: auto;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
      }
    }
  }

  //   TENDANCE
  .tendance {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      color: $White;
      background: $Black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: calc(20px - 10px);
      height: 60%;
    }

    // CARROUSSEL
    .carroussel {
      display: flex;
      align-items: center;
      z-index: 2;

      svg {
        cursor: pointer;
        width: 8vw;
        height: 3vh;
      }

      .bestSellerContainer {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 4) - 15px);
        gap: 20px;
        overflow: hidden;
        width: 80vw;
        max-width: 966px;

        .bestSeller {
          display: flex;
          flex-direction: column;
          background: $RealWhite;
          height: 400px;
          padding: 15px;
          border-radius: calc(20px);

          &:first-child {
            background-color: red;
          }

          &:last-child {
            background-color: yellow;
          }

          .infos {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-grow: 1;

            .footContainer {
              display: flex;
              justify-content: space-between;

              .price {
                text-align: end;
              }
            }
          }
        }
      }
    }
  }

  // AVIS CLIENTS
  .containerAvis {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 20px 15vh;

    .avisCard {
      display: flex;
      flex-direction: column;
      padding: 20px;
      height: 200px;
      width: 400px;

      div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      div:nth-child(2) {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-around;
        padding-left: calc(50px + 10px);
      }

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      .starRating-container {
        gap: 0 !important;
      }

      p {
        font-size: 20px;
        font-weight: 600;
      }

      .txt {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
  }
}
