footer {
  position: relative;
  font-family: "Open Sans";
  padding: 4vh 0 calc(4vh - 3vh);

  .link a,
  .contactContainer .contacts {
    font-size: 15px;
    font-weight: 100;
  }

  .mainInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    //   LINKS SECTION
    .linksContainer {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      .link {
        h2 {
          margin-bottom: 2vh;
          text-decoration: underline;
          font-weight: 400;
          font-size: 17px;
        }

        a {
          display: flex;
          flex-direction: column;
          line-height: 2.5vh;
          width: fit-content;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    //   CONTACT SECTION
    .contactContainer {
      .contacts {
        display: flex;
        flex-direction: column;
        gap: 2vh;
      }
    }

    //   SOCIALS SECTION
    .socialsContainer {
      .social {
        display: flex;
        align-items: center;
        gap: 3vw;

        svg {
          font-size: 90px;
        }
      }
    }
  }

  //   COPYRIGHT
  .copyright {
    margin: 2vh 0;
    text-align: center;
    p {
      font-size: 14px;
    }
  }
}
