.contactezNous {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 0;

  //   FORMULAIRE
  .formulaire {
    margin: 20vh auto 0;
    width: 80vw;
    padding: 7vh 15%;
    background-color: $WhiteOpct;
    box-shadow: 0px 19px 20px 0px $BlackOpct;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 5vh;

    &,
    input {
      color: $LinearDarkBlue;
      font-family: "Open Sans", sans-serif;
    }

    span {
      text-align: justify;
      text-transform: uppercase;
      font-size: 17px;
    }

    form {
      display: flex;
      flex-direction: column;
      text-align: start;

      input {
        background-color: transparent;
        outline: none;

        & {
          border: none;
          border-bottom: 1px solid $LinearDarkBlue;
          margin-top: 0.8vh;
        }

        &[type="text"],
        &[type="tel"],
        &[type="email"] {
          margin-bottom: 7vh;
        }
      }

      .btn {
        cursor: pointer;
        font-size: 20px;
        padding: 15px 60px;
        border-radius: 10px;
        width: fit-content;
        border: 1px solid $LinearDarkBlue;
        letter-spacing: 2px;
        margin: 7vh auto 0;
      }
    }
  }
}
