.contactezNous {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12vh 0 0;
  height: 100vh;
  position: sticky;
  top: 0;

  //   FORMULAIRE
  .formulaire {
    margin: 4vh auto;
    width: 70vw;
    padding: 7vh 10%;
    background-color: $WhiteOpct;
    box-shadow: 0px 19px 20px 0px $BlackOpct;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 5vh;

    .fullNameContainer,
    .contactContainer {
      gap: 2vw;

      div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
    .fullNameContainer {
      display: flex;
      justify-content: space-between;
    }

    .contactContainer {
      display: flex;
      justify-content: space-between;
    }

    &,
    input {
      color: $LinearDarkBlue;
      font-family: "Open Sans", sans-serif;
    }

    span {
      text-align: justify;
      font-size: 17px;
    }

    form {
      display: flex;
      flex-direction: column;
      text-align: start;

      input,
      textarea {
        border: none;
        border-bottom: 1px solid $LinearDarkBlue;
        margin-top: 0.8vh;
        background-color: transparent;
        outline: none;
      }

      input {
        &[type="text"],
        &[type="tel"],
        &[type="email"] {
          margin-bottom: 7vh;
        }
      }

      .btn {
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        padding: 15px 60px;
        border-radius: 10px;
        width: fit-content;
        border: 1px solid $LinearDarkBlue;
        letter-spacing: 2px;
        margin: 5vh auto 0;
        letter-spacing: 0.4vw;
      }
    }
  }
}
