.productDetails {
  display: flex;
  background-color: $RealWhite;
  color: $Black;
  padding: 15vh 10vh;

  .imagesContainer {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    .productImage1 {
      grid-area: 1 / 1 / 3 / 2;
    }

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
