.productDetails {
  display: flex;
  justify-content: center;
  background-color: $RealWhite;
  color: $Black;
  padding: 20vh 10vh 10vh;
  gap: 5vw;
  border-bottom: 1px solid $Black;

  //   LEFT
  .imagesContainer {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;

    .productImage1 {
      grid-area: 1 / 1 / 3 / 3;
    }

    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  //   RIGTH
  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}
