.OPSection2 {
  position: relative;
  background: $White;

  &,
  a {
    color: $Black;
  }

  .nav {
    position: sticky;
    z-index: 1;
    top: 7vh;
    left: 0;
  }

  .img {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(25, 228, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
}
