.OPSection2 {
  position: relative;
  background: $White;
  z-index: 1;

  h1 {
    padding: 20vh 0;
    text-align: center;
  }

  &,
  a {
    color: $Black;
  }

  //   NAV
  .navContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .nav {
      padding: 5vh 0;
      position: sticky;
      top: 7vh;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-size: 16px;
      font-weight: 300;
      font-family: "Open Sans";
      background-color: $WhiteOpct;
      border-bottom: 1px solid $Black;

      .left {
        display: flex;
        gap: 1vw;

        a {
          display: flex;
          align-items: center;
        }

        .Menu {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 1vw;
          color: $LinearDarkBlue;
          background-color: $White;
          padding: 0.5vh 1.5vw;
          border-radius: 20px;
          text-transform: uppercase;

          .burgerContainer {
            position: relative;
            width: 15px;
            height: 9px;
            display: flex;
            align-items: center;

            .burger {
              width: 100%;
              height: 0.5px;
              background-color: $LinearDarkBlue;

              &::after,
              &::before {
                content: "";
                width: 100%;
                height: 0.5px;
                background: $LinearDarkBlue;
                position: absolute;
                left: 0;
              }

              &::after {
                top: 0;
              }

              &::before {
                bottom: 0;
              }
            }
          }
        }
      }

      .right {
        display: flex;
        gap: 1vw;

        input,
        button {
          padding: 0.5vh 1.5vw;
        }

        input {
          border-radius: 20px;
          background: $Grey;
          border: none;
          outline: none;
        }

        button {
          cursor: pointer;
          color: $LinearDarkBlue;
          border-radius: 20px;
          background: $White;
          border: 1px solid $LinearDarkBlue;
        }
      }
    }
  }

  //   IMG
  .img {
    background-color: rgb(25, 228, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }

  //   CATEGORIES SECTION
  .categoriesSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    .categoriesContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 20px;
      text-align: center;

      .categorie {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 240px;
        color: white;
        background-color: $Black;
        margin: auto;
        border-radius: 20px;
      }
    }
  }

  //   TENDANCE
  .tendance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20vh;

    .image {
      color: $White;
      background: $Black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: calc(20px - 10px);
      height: 60%;
    }

    .bestSellerContainer {
      display: flex;
      gap: 40px;

      .bestSeller {
        display: flex;
        flex-direction: column;
        background: $RealWhite;
        height: 428px;
        width: 286px;
        padding: 15px;
        border-radius: calc(20px);

        .infos {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          flex-grow: 1;

          .footContainer {
            display: flex;
            justify-content: space-between;

            .price {
              text-align: end;
            }
          }
        }
      }
    }
  }
}
