.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;

  .txt {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3vh;

    h1 {
      line-height: 10vh;
    }

    p {
      text-align: justify;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 3.5vh;
      font-weight: 100;
      width: 730px;
      margin-bottom: 3vh;
    }
  }

  svg {
    font-size: 50px;
  }

  .btnContainer {
    position: absolute;
    bottom: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7vh;

    .btn {
      display: flex;
      gap: 16px;

      button {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        padding: 14px 42px;
        border-radius: 6px;
        font-weight: bold;
        border: none;
        outline: none;

        background: linear-gradient(90deg, $LinearDarkBlue, $LinearLightBlue);

        -webkit-background-clip: text;
        color: transparent;

        &:nth-child(1)::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $White;
        }

        &:nth-child(2) {
          background: transparent;
          border: 1px solid $White;
          color: $White;
        }
      }
    }
    .chevron {
      position: relative;
      width: 40px;

      &::before,
      &::after {
        content: "";
        width: 50%;
        height: 2px;
        background-color: $White;
        position: absolute;
        bottom: 0;
      }

      &::before {
        left: 1px;
        transform-origin: right;
        transform: rotate(45deg);
        border-radius: 5px 0 5px 5px;
      }
      &::after {
        right: 1px;
        transform-origin: left;
        transform: rotate(-45deg);
        border-radius: 0 5px 5px 5px;
      }
    }
  }
}
