.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  // background-color: red;

  h1 {
    font-size: 56px;
    text-align: center;
  }

  .svg {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100%;
    // background: $White;
  }

  // CARD

  .cardContainer {
    display: flex;
    gap: 100px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 335px;
      height: 499px;
      border-radius: 25px;
      background-color: $CardBackground;
      padding: 40px 30px 30px;

      .name {
        font-size: 25px;
        font-weight: 300;
      }

      .paragraphe {
        color: $Black;
        font-family: "Open Sans", sans-serif;
        text-align: justify;
        font-size: 17px;
      }
    }
  }
}
