nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #efefef;

  mix-blend-mode: difference;
  height: 8vh;

  ul {
    display: flex;
    justify-content: space-around;
    gap: 3vw;

    a {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 300;
      gap: 15px;
    }

    svg {
      font-size: 13px;
    }
  }
}
