nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: red;

  mix-blend-mode: difference;

  ul {
    display: flex;
    justify-content: space-around;
    padding: 2vh 0;

    a {
      color: $White;
    }
  }
}
