@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #11235a, #9bb0c1);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}
body,
body a {
  color: #efefef;
}

h1 {
  font-size: 70px;
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
}

ul,
li {
  list-style-type: none;
}

.btnContainer {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7vh;
}
.btnContainer .btn {
  display: flex;
  gap: 16px;
}
.btnContainer .btn button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 14px 42px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #11235a, #9bb0c1);
  -webkit-background-clip: text;
  color: transparent;
}
.btnContainer .btn button:nth-child(1)::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}
.btnContainer .btn button:nth-child(2) {
  background: transparent;
  border: 1px solid #efefef;
  color: #efefef;
}
.btnContainer .chevron {
  position: relative;
  width: 40px;
}
.btnContainer .chevron::before, .btnContainer .chevron::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #efefef;
  position: absolute;
  bottom: 0;
}
.btnContainer .chevron::before {
  left: 1px;
  transform-origin: right;
  transform: rotate(45deg);
  border-radius: 5px 0 5px 5px;
}
.btnContainer .chevron::after {
  right: 1px;
  transform-origin: left;
  transform: rotate(-45deg);
  border-radius: 0 5px 5px 5px;
}

.contactezNous {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12vh 0 0;
  height: 100vh;
  position: sticky;
  top: 0;
}
.contactezNous .formulaire {
  margin: 4vh auto;
  width: 70vw;
  padding: 7vh 10%;
  background-color: rgba(239, 239, 239, 0.5176470588);
  box-shadow: 0px 19px 20px 0px rgba(0, 0, 0, 0.4509803922);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.contactezNous .formulaire .fullNameContainer,
.contactezNous .formulaire .contactContainer {
  gap: 2vw;
}
.contactezNous .formulaire .fullNameContainer div,
.contactezNous .formulaire .contactContainer div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contactezNous .formulaire .fullNameContainer {
  display: flex;
  justify-content: space-between;
}
.contactezNous .formulaire .contactContainer {
  display: flex;
  justify-content: space-between;
}
.contactezNous .formulaire,
.contactezNous .formulaire input {
  color: #11235a;
  font-family: "Open Sans", sans-serif;
}
.contactezNous .formulaire span {
  text-align: justify;
  font-size: 17px;
}
.contactezNous .formulaire form {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.contactezNous .formulaire form input,
.contactezNous .formulaire form textarea {
  border: none;
  border-bottom: 1px solid #11235a;
  margin-top: 0.8vh;
  background-color: transparent;
  outline: none;
}
.contactezNous .formulaire form input[type=text], .contactezNous .formulaire form input[type=tel], .contactezNous .formulaire form input[type=email] {
  margin-bottom: 7vh;
}
.contactezNous .formulaire form .btn {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 60px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #11235a;
  letter-spacing: 2px;
  margin: 5vh auto 0;
  letter-spacing: 0.4vw;
}

.rdvSection {
  position: relative;
  background-color: #efefef;
  color: #0e2244;
  padding: 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rdvSection h1 {
  color: #0f0f0f;
  text-align: center;
  margin-bottom: 15vh;
}
.rdvSection .partsContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans";
  font-size: 20px;
}
.rdvSection .partsContainer .leftPart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.rdvSection .partsContainer .leftPart img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.rdvSection .partsContainer .rigthPart {
  width: 50%;
}
.rdvSection .partsContainer .rigthPart iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 25px;
}

footer {
  position: relative;
  font-family: "Open Sans";
  padding: 4vh 0 1vh;
}
footer .link a,
footer .contactContainer .contacts {
  font-size: 15px;
  font-weight: 100;
}
footer .mainInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .mainInfo .linksContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
footer .mainInfo .linksContainer .link h2 {
  margin-bottom: 2vh;
  text-decoration: underline;
  font-weight: 400;
  font-size: 17px;
}
footer .mainInfo .linksContainer .link a {
  display: flex;
  flex-direction: column;
  line-height: 2.5vh;
  width: -moz-fit-content;
  width: fit-content;
}
footer .mainInfo .linksContainer .link a:hover {
  text-decoration: underline;
}
footer .mainInfo .contactContainer .contacts {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
footer .mainInfo .socialsContainer .social {
  display: flex;
  align-items: center;
  gap: 3vw;
}
footer .mainInfo .socialsContainer .social svg {
  font-size: 90px;
}
footer .copyright {
  margin: 2vh 0;
  text-align: center;
}
footer .copyright p {
  font-size: 14px;
}

.GDSection2 {
  position: relative;
  background-color: #efefef;
  color: #11235a;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.GDSection2 h1 {
  color: #0f0f0f;
  margin-top: 20vh;
}
.GDSection2 p {
  font-family: "Open Sans";
  width: 60%;
  text-align: justify;
  font-size: 20px;
  line-height: 4vh;
  margin: 10vh 0;
}
.GDSection2 .logosContainer {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
.GDSection2 .sliderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
}
.GDSection2 .sliderContainer .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efefef;
  width: 200px;
  height: 100%;
  background-color: black;
}
.GDSection2 .img {
  color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: black;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.section1 .txt {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.section1 .txt h1 {
  line-height: 10vh;
}
.section1 .txt p {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 3.5vh;
  font-weight: 100;
  width: 730px;
  margin-bottom: 3vh;
}
.section1 svg {
  font-size: 50px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-around;
  padding-top: 5vh;
  z-index: 1;
}
.section2 h1 {
  text-align: center;
}
.section2 .svg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  height: 40vh;
  width: 100%;
  background: #efefef;
}
.section2 .svg svg {
  width: 100%;
  height: 100%;
}
.section2 .cardContainer {
  display: flex;
  gap: 100px;
}
.section2 .cardContainer .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  border-radius: 25px;
  background-color: rgba(240, 240, 240, 0.3019607843);
  padding: 40px 30px 30px;
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.4509803922);
}
.section2 .cardContainer .card .name {
  font-size: 25px;
  font-weight: 300;
}
.section2 .cardContainer .card .img {
  margin: 7vh 0;
}
.section2 .cardContainer .card .paragraphe {
  color: #0f0f0f;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-size: 17px;
}

.section3 {
  color: #0f0f0f;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  border-bottom: 1px solid #11235a;
}
.section3 h1 {
  text-align: center;
}
.section3 .description {
  color: #11235a;
  font-size: 22px;
  text-align: justify;
  margin-top: 10vh;
  max-width: 900px;
  line-height: 4vh;
}

.cardsSection {
  display: flex;
  flex-direction: column;
  gap: 9vh;
  padding: 17vh 0;
}
.cardsSection .sectionCardContainer {
  display: flex;
  width: 100vw;
  max-width: 1100px;
  justify-content: center;
}
.cardsSection .sectionCardContainer:nth-child(even) {
  flex-direction: row-reverse;
}
.cardsSection .sectionCardContainer:nth-child(even) .informationsContainer {
  padding-left: 5%;
}
.cardsSection .sectionCardContainer:nth-child(odd) .card {
  margin-right: 12%;
}
.cardsSection .sectionCardContainer:nth-child(odd) .informationsContainer {
  padding-right: 15%;
}
.cardsSection .sectionCardContainer .card {
  width: 500px;
  height: 500px;
  border-radius: 24px;
  background: linear-gradient(350deg, rgba(17, 35, 90, 0.5019607843), rgba(155, 176, 193, 0.5019607843));
  box-shadow: 0px 19px 30px 9px rgba(0, 0, 0, 0.4509803922);
}
.cardsSection .sectionCardContainer .informationsContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
}
.cardsSection .sectionCardContainer .informationsContainer p {
  font-size: 27px;
  font-weight: bolder;
  color: #11235a;
}
.cardsSection .sectionCardContainer .informationsContainer h2 {
  font-size: 30px;
}
.cardsSection .sectionCardContainer .informationsContainer ul {
  gap: 1vh;
  display: flex;
  flex-direction: column;
}
.cardsSection .sectionCardContainer .informationsContainer ul svg {
  margin-right: 20px;
}
.cardsSection .sectionCardContainer .informationsContainer ul li {
  font-family: "Open Sans";
  font-size: 16px;
  white-space: nowrap;
}
.cardsSection .sectionCardContainer .informationsContainer button {
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 6px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 38px;
  border: 2px solid #11235a;
  font-size: 14px;
  font-weight: 600;
  color: #11235a;
}

.section4 {
  position: relative;
  background: #efefef;
  color: #0f0f0f;
  text-align: center;
  padding: 20vh 0;
}
.section4 h1 {
  padding-bottom: 15vh;
}
.section4 .linesContainer {
  display: flex;
  flex-direction: column;
}
.section4 .linesContainer,
.section4 .linesContainer .lineContainer,
.section4 .linesContainer .imgContainer {
  gap: 24px;
}
.section4 .linesContainer .lineContainer {
  width: 100%;
  height: 130px;
  overflow: hidden;
  display: flex;
}
.section4 .linesContainer .lineContainer .imgContainer {
  display: flex;
  height: 100%;
}
.section4 .linesContainer .lineContainer .imgContainer .img {
  width: 240px;
  height: 100%;
  background: linear-gradient(350deg, rgba(17, 35, 90, 0.5019607843), rgba(155, 176, 193, 0.5019607843));
  border-radius: 5px;
}
.section4 .formulaire {
  margin: 20vh auto 0;
  width: 80vw;
  padding: 7vh 15%;
  background: linear-gradient(350deg, rgba(17, 35, 90, 0.5019607843), rgba(155, 176, 193, 0.5019607843));
  box-shadow: 0px 19px 20px 0px rgba(0, 0, 0, 0.4509803922);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.section4 .formulaire,
.section4 .formulaire input {
  color: #11235a;
  font-family: "Open Sans", sans-serif;
}
.section4 .formulaire p,
.section4 .formulaire span {
  text-transform: uppercase;
}
.section4 .formulaire p {
  font-size: 30px;
  margin-bottom: 1vh;
}
.section4 .formulaire span {
  font-size: 17px;
}
.section4 .formulaire form {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.section4 .formulaire form input {
  background-color: transparent;
  outline: none;
}
.section4 .formulaire form input[type=text], .section4 .formulaire form input[type=email] {
  border: none;
  border-bottom: 1px solid #11235a;
  margin-top: 0.8vh;
}
.section4 .formulaire form input[type=text] {
  margin-bottom: 7vh;
}
.section4 .formulaire form .btn {
  cursor: pointer;
  font-size: 20px;
  padding: 15px 60px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #11235a;
  letter-spacing: 2px;
  margin: 7vh auto 0;
}

.section5 {
  background: #efefef;
  color: #0f0f0f;
  padding: 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
}
.section5 h1 {
  margin-bottom: 16vh;
}
.section5 .logosContainer {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.listesContainer {
  background-color: #efefef;
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}
.listesContainer .liste {
  display: flex;
  background-color: #9bb0c1;
  width: 80vw;
  border-radius: 20px;
  padding: 20px;
  gap: 2vw;
}
.listesContainer .liste span,
.listesContainer .liste .listeDescription,
.listesContainer .liste button {
  font-family: "Open Sans";
}
.listesContainer .listeImg {
  height: 200px;
  width: 30%;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f0f0f;
}
.listesContainer .liste span {
  font-size: 13px;
  font-weight: 100;
}
.listesContainer .listeTxt {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.listesContainer .listeTxt .listeDescription {
  font-weight: 300;
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 3vh;
}
.listesContainer .listeTxt button {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  border: none;
  outline: none;
  color: #efefef;
  font-size: 15px;
}

.texteSecion {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.miniSection {
  padding: 20vh 0;
  position: sticky;
  top: 0;
  z-index: -1;
}
.miniSection h1 {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background: rgba(239, 239, 239, 0.1019607843);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 7vh;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4509803922);
}
nav ul {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
}
nav ul a {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  gap: 15px;
  mix-blend-mode: color-dodge;
  color: #efefef;
}
nav ul svg {
  font-size: 13px;
}

.OPSection2 {
  position: relative;
  background: #efefef;
  z-index: 1;
}
.OPSection2 h1 {
  padding: 20vh 0;
  text-align: center;
}
.OPSection2,
.OPSection2 a {
  color: #0f0f0f;
}
.OPSection2 .navContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.OPSection2 .navContainer .background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.OPSection2 .navContainer .nav {
  padding: 5vh 0;
  position: sticky;
  z-index: 3;
  top: 7vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans";
  background-color: rgba(239, 239, 239, 0.5176470588);
  border-bottom: 1px solid #0f0f0f;
}
.OPSection2 .navContainer .nav .left {
  display: flex;
  gap: 1vw;
}
.OPSection2 .navContainer .nav .left a {
  display: flex;
  align-items: center;
}
.OPSection2 .navContainer .nav .left .Menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #11235a;
  background-color: #efefef;
  padding: 0.5vh 1.5vw;
  border-radius: 20px;
  text-transform: uppercase;
}
.OPSection2 .navContainer .nav .left .Menu .burgerContainer {
  position: relative;
  width: 15px;
  height: 9px;
  display: flex;
  align-items: center;
}
.OPSection2 .navContainer .nav .left .Menu .burgerContainer .burger {
  width: 100%;
  height: 0.5px;
  background-color: #11235a;
}
.OPSection2 .navContainer .nav .left .Menu .burgerContainer .burger::after, .OPSection2 .navContainer .nav .left .Menu .burgerContainer .burger::before {
  content: "";
  width: 100%;
  height: 0.5px;
  background: #11235a;
  position: absolute;
  left: 0;
}
.OPSection2 .navContainer .nav .left .Menu .burgerContainer .burger::after {
  top: 0;
}
.OPSection2 .navContainer .nav .left .Menu .burgerContainer .burger::before {
  bottom: 0;
}
.OPSection2 .navContainer .nav .left .Menu .modalMenu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #efefef;
  padding: 4vh 2vw 2vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.OPSection2 .navContainer .nav .left .Menu .modalMenu a {
  white-space: nowrap;
  text-transform: initial;
}
.OPSection2 .navContainer .nav .left .Menu .modalMenu a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.OPSection2 .navContainer .nav .right {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.OPSection2 .navContainer .nav .right input,
.OPSection2 .navContainer .nav .right button {
  padding: 0.5vh 1.5vw;
}
.OPSection2 .navContainer .nav .right input {
  border-radius: 20px;
  background: #e8e8e8;
  border: none;
  outline: none;
}
.OPSection2 .navContainer .nav .right button {
  cursor: pointer;
  color: #11235a;
  border-radius: 20px;
  background: #efefef;
}
.OPSection2 .navContainer .nav .right .btn {
  position: relative;
  z-index: 2;
  border: none;
}
.OPSection2 .navContainer .nav .right .devis {
  position: relative;
}
.OPSection2 .navContainer .nav .right .devis .lien {
  position: absolute;
  top: 0;
  right: 0;
  height: 8vh;
  border-radius: 15px 15px 0 0;
  z-index: -1;
  background-color: #efefef;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4vh;
  right: 0;
  gap: 10px;
  border-radius: 20px;
  background: #efefef;
  white-space: nowrap;
  width: 550px;
  padding: 2vh 1.5vw;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis .header {
  display: grid;
  font-size: 13px;
  width: 100%;
  padding: 1vh 0;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #0f0f0f;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis p:nth-child(2) {
  text-align: end;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis .itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis .itemsContainer .item {
  display: grid;
  font-size: 15px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis .itemsContainer .item .deleteBtn {
  background: transparent;
  border: none;
  margin-left: auto;
}
.OPSection2 .navContainer .nav .right .devis .modalDevis .devisBtn {
  margin: 4vh 0 2vh;
  border-radius: 20px;
  padding: 1vh 3vw;
  border: 1px solid #11235a;
}
.OPSection2 .navContainer .nav .right .devis button {
  padding: 0.5vh 1.5vw;
  width: -moz-fit-content;
  width: fit-content;
}
.OPSection2 .img {
  background-color: rgb(25, 228, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
.OPSection2 .categoriesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OPSection2 .categoriesSection .categoriesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  z-index: 2;
}
.OPSection2 .categoriesSection .categoriesContainer .categorie {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  color: white;
  background-color: #0f0f0f;
  margin: auto;
  border-radius: 20px;
}
.OPSection2 .tendance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;
}
.OPSection2 .tendance .image {
  color: #efefef;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 60%;
}
.OPSection2 .tendance .carroussel {
  display: flex;
  align-items: center;
  z-index: 2;
}
.OPSection2 .tendance .carroussel svg {
  cursor: pointer;
  width: 10vw;
  height: 5vh;
}
.OPSection2 .tendance .carroussel .bestSellerContainer {
  display: flex;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
  width: 966px;
}
.OPSection2 .tendance .carroussel .bestSellerContainer .bestSeller {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 400px;
  width: 250px;
  padding: 15px;
  border-radius: 20px;
}
.OPSection2 .tendance .carroussel .bestSellerContainer .bestSeller:first-child {
  background-color: red;
}
.OPSection2 .tendance .carroussel .bestSellerContainer .bestSeller:last-child {
  background-color: yellow;
}
.OPSection2 .tendance .carroussel .bestSellerContainer .bestSeller .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
.OPSection2 .tendance .carroussel .bestSellerContainer .bestSeller .infos .footContainer {
  display: flex;
  justify-content: space-between;
}
.OPSection2 .tendance .carroussel .bestSellerContainer .bestSeller .infos .footContainer .price {
  text-align: end;
}

.txtPolitique {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.Section1Duplicate {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 20vh 0;
  text-align: center;
}
.Section1Duplicate .texteSection .textsContainer {
  display: flex;
  justify-content: space-around;
  margin: 10vh 0;
}
.Section1Duplicate .texteSection .textsContainer svg {
  margin-right: 20px;
}
.Section1Duplicate .texteSection p {
  font-family: "Open Sans";
  line-height: 4vh;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}

.texteContainer {
  background: #efefef;
  padding: 10vh 20vw;
  color: #000000;
  font-family: "Open Sans";
}
.texteContainer h2 {
  font-size: 25px;
}
.texteContainer h3 {
  font-size: 18px;
}
.texteContainer p {
  text-align: justify;
  font-size: 15px;
}
.texteContainer .italic {
  font-style: italic;
}
.texteContainer .underline {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */