.texteContainer {
  background: $White;
  padding: 10vh 20vw;
  color: $RealBlack;
  font-family: "Open Sans";

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    text-align: justify;
    font-size: 15px;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }
}
